<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IYSService" messageEncoding="Mtom">
                    <security>
                        <message clientCredentialType="UserName"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gr-wds:8732/YSService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IYSService" contract="YSService.IYSService" name="WSHttpBinding_IYSService">
                <identity>
                    <dns value="gr-wds"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
